*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #111111;
    position: sticky;
    z-index: 2000;
    top: 0;
    height: 85px;
}

.logo img { 
    height: 60px; 
    width: 60px; 
    object-fit: cover; 
}

.menu ul { 
    display: flex; 
    gap: 28px; 
}

.menu li a { 
    color: #ffffff; 
    font-weight: bold; 
    transition: 0.3s ease; 
}

.menu a:hover { 
    color: #c4001d; 
    border-bottom: 2px solid #c4001d; 
}

/* --- CARRITO HEADER --- */
.hamburger { 
    display: none; 
    font-size: 2.5rem; 
    cursor: pointer; 
    color: #ffffff; 
}

.carrito { 
    position: relative; 
    cursor: pointer; 
    font-size: 26px; 
    color: #ffffff; 
}

.contador {
    background: #c4001d;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
    border: 1px solid #111;
}

/* --- PANEL CARRITO LATERAL --- */
.carrito-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background: #bbbbbb;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
    z-index: 3000;
    flex-direction: column;
}

.carrito-menu.active { 
    display: flex; 
}

.carrito-header { 
    padding: 20px; 
    background: #111; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.lista-carrito { 
    flex: 1; 
    overflow-y: auto; 
    padding: 20px; 
}

.carrito-footer { 
    padding: 20px; 
    background: #f9f9f9; 
    border-top: 1px solid #ddd; 
}

.total-pedido { 
    font-size: 1.2rem; 
    font-weight: bold; 
    margin-bottom: 10px; 
    color: #333; 
}

.btn-confirmar-wa {
    background: #25d366;
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main{
    max-width: 100%;
}

.hero-main{
  background: linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)
  ), url(img/hero.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
}

.text-hero {
    max-width: 550px;
    padding: 20px 0;
    text-align: left;
    margin-left: 8%;
}

.text-hero h2{
   font-size: 3rem;
   color: #ffffff;
   padding-bottom: 10px;
   text-transform: uppercase;
}

.text-hero p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.6;
}

.btn {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 25px;
}

.btn-primary, .btn-segundary {
    padding: 14px 28px;
    border-radius: 4px; 
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #c4001d; 
    color: #fff;
    border: none;
}

.btn-segundary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn-primary:hover, .btn-segundary:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(196, 0, 29, 0.3);
}

.nosotros {
    padding: 100px 0;
    background-color: #ffffff;
}

.animar{
    opacity:0;
    transform:translateY(60px);
    transition:all 0.8s ease;
}

.animar.visible{
    opacity:1;
    transform:translateY(0);
}

.container-nosotros {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}

.text-nosotros {
    text-align: center;
    margin-bottom: 60px;
}

.text-nosotros h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.grid-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px;
    align-items: start;
}

.imagen img {
    width: 100%;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
    transition: 0.3s ease;
}

.imagen img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.texto p {
    line-height: 1.8;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.info-nosotros {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px;
}

.card {
    background: #f9f9f9;
    padding: 20px 25px;
    border-radius: 12px;
    border-left: 5px solid #c4001d; 
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateX(10px); 
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item i {
    font-size: 25px;
    color: #c4001d;
}

.item p {
    font-weight: 600;
    color: #333;
    margin: 0;
}

.productos {
    padding: 80px 20px;
    background-color: #ffffff;
}

.container-productos{
    max-width: 1200px;
    margin: 0 auto;
}

.filtros {
    text-align: center;
    margin-bottom: 30px;
}

.filter-btn {
    margin: 5px;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    background: red;
    color: #ffffff;
    border-radius: 8px;
    transition: 0.3s ease;
}

.filter-btn:hover {
    background-color: #ff4d4d;
    transform: translateY(-4px);
}

.text-productos {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* BASE PARA PC (Cuadrícula simétrica nativa) */
.grid-Productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
}

.card-productos {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-productos:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-productos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    object-position: center;
    margin-bottom: 10px;
}

.card-productos h3 {
    text-align: center;
    padding-bottom: 5px;
}

.card-productos p {
    padding-bottom: 10px;
    text-align: center;
    color: #555;
    font-size: 0.95rem;
}

.precy {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 5px 12px;
    background-color: #c4001d;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 10;
}

.btn-productos {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.btn-productos button {
   width: 100%;
   padding: 12px 20px;
   cursor: pointer;
   border: 2px solid #c4001d;
   background-color: transparent;
   color: #c4001d;
   font-weight: bold;
   border-radius: 15px;
   transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-productos button:hover {
    background-color: #c4001d;
    color: #fff;
    box-shadow: 0 5px 15px rgba(196, 0, 29, 0.3);
}

.comentarios {
    padding: 80px 20px;
    background-color: #ffffff;
}

.container-comentarios {
    max-width: 1200px;
    margin: 0 auto;
}

.text-comentarios {
    text-align: center;
    margin-bottom: 40px;
}

.text-comentarios h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.text-comentarios p {
    font-size: 1.2rem;
    font-weight: 600;
}

.grid-comentarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card-comentarios {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
    padding: 25px;
}

.card-comentarios:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.card-comentarios img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #c4001d;
}

.card-comentarios h3 {
    padding-bottom: 7px;
}

.card-comentarios p {
    line-height: 1.6;
    color: #333;
}

.card-comentarios span {
    display: block;
    font-size: 18px;
    color: #ffb400;
    letter-spacing: 2px;
    padding-top: 15px;
}

.contactos{
    padding: 80px 20px;
    background: #f5f5f5;
}

.container-contactos {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.container-contactos h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitulo {
    color: #666;
    margin-bottom: 40px;
}

.grid-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    align-items: center;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: left;
}

.item-contacto {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
}

.item-contacto i{
  font-size: 25px;
  color: #ff4d4d;
}

.mapa iframe{
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.footer {
    background: #0d0d0d;
    color: #f9f9f9;
    margin-top: 60px;
    padding: 60px 20px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-brad h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

.footer-brad p {
    font-size: 14px;
    color: #bbbbbb;
}

.footer-links h3, .footer-social h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
   color: #f0f0f0;
   font-size: 14px;
   transition: 0.3s ease;
}

.footer-links ul li a:hover {
    color: #c4001d;
}

.social-icons i {
    font-size: 1.3rem;
    margin-right:10px;
    transition: 0.3s ease;
    background-color: #f0f0f0;
    color: #000;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    transform: translateY(-3px);
    background-color: #c4001d;
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #222;
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #777;
}





@media (max-width: 1024px) {
    .hero-main { padding: 80px 30px; }
    .text-hero h2 { font-size: 2.5rem; }
    .grid-nosotros { grid-template-columns: 1fr; gap: 40px; }
    .footer-container { flex-direction: column; text-align: center; }
}


@media (max-width: 768px) {
    .menu {
        position: fixed;
        top: 85px;
        right: -100%;
        background: #111111;
        width: 240px;
        height: 100vh;
        transition: 0.4s ease;
        padding-top: 30px;
        z-index: 2500;
    }
    .menu.active { right: 0; }
    .menu ul { flex-direction: column; align-items: center; gap: 25px; }
    .hamburger { display: block; }

   
    .grid-Productos {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px;
    }
    
    .grid-comentarios, .grid-contacto { grid-template-columns: 1fr; }
    .carrito-menu { width: 100%; }
}


@media (max-width: 480px) {
    .header { padding: 10px; }
    .text-hero h2 { font-size: 1.8rem; }
    .text-hero p { font-size: 1.1rem; }
    
    
    .grid-Productos {
        grid-template-columns: 1fr !important;
        gap: 25px;
    }
    
    .card-productos img {
        height: 320px; 
    }
    .card-productos h3 { font-size: 1.2rem; }
    .card-productos p { font-size: 0.9rem; }
}